* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #3a0420;
  font-size: 16px;
}
.navigation {
  margin: 0;
background-color: #3a0420;
height: 80px;
position: static:;
}
.navigation .logo {
  color: #fff;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 20px;
  padding: 15px 15px 15px 35px;
  margin-top: 15px;

}
.navigation .logo:hover{
 color: tomato;
 font-size: 32px;
}
.navigation ul {
  float: right;
  font-family: arial;
  font-size: 14px;
  font-weight: bold;
  padding: 15px 35px 15px 15px;
  margin-top: 20px;
}
.navigation li {
  display: inline-block;
}
.navigation li.active a{
  color: #FF6760;
}
.navigation a{
  color: #D8D8D8;
  margin-right:35px;
  text-decoration: none;
  text-transform: uppercase;
}
.navigation a:hover {
  color: red;
}
/*Header*/
.heading{
  margin: 0;
  background-color: #202020;
  color: #D8D8D8;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  height:540px;
}
.heading h1{
  background-color: #202020;
  font-size: 50px;
  font-weight: 310;
  padding: 50px 0 30px 0;
  font-style: italic;
}
.heading h1 > span{
  font-style: italic;
}
.heading h2{
  padding: 50px 0 30px 0;
  line-height: 50px;
  font-size: 38px;
  font-weight: 290;
}
.heading h2 > span{
  color: #EB615B;
}
.heading a {
  background-color: blue;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  display: inline-block;
  margin:10px 0 75px 0;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
}
#about{
  background-color:#ebebeb;
  height: 600px;
}
#about h1 {
  text-align: center;
  padding: 25px 0 30px 0;
}
.item {
	float: left;
    margin: 25px 0;
    padding: 5px 0 20px 0;
    text-align: center;
	width: 33.3333333333%;
}
.item h3 {
	font-size: 20px;
	padding: 5px 0;
}
.item p {
	font-size: 16px;
	padding: 10px 0;
}
/** FOOTER **/
.end {
  background-color:;
	color: #D8D8D8;
	text-align: center;
}
  .end h4 {
	font-size: 28px;
  padding: 25px;
  color: black;
}
.end p {
	color: grey;
	font-size: 16px;
	padding: 3px 0;
}
.end p a {
	color: #793F3D;
}
#socialIcons {
	margin: 25px 0 60px 0;
}
#socialIcons a {
	color: #FFFFFF;
  padding: 12px;
}
#socialIcons .fa-twitter {
  color: blue;
	background-color: #ebebeb;
	border-radius: 60%;
	padding: 8px;
}
#socialIcons .fa-facebook {
  color: blue;
	background-color: #ebebeb;
	border-radius: 23px;
	padding: 10px 15px;
}
