* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #2A2A2A;
  font-size: 16px;
}
.navigation {
background-color: #272727;
height: 80px;
}
.navigation .logo {
  color: #fff;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 20px;
  padding: 15px 15px 15px 35px;
  margin-top: 15px;
}
.navigation ul {
  float: right;
  font-family: arial;
  font-size: 14px;
  font-weight: bold;
  padding: 15px 35px 15px 15px;
  margin-top: 20px;
}
.navigation li {
  display: inline-block;
}
.navigation li.active a{
  color: #FF6760;
}
.navigation a{
  color: #D8D8D8;
  margin-right:35px;
  text-decoration: none;
  text-transform: uppercase;
}
/*Header*/
.header{
  color: #D8D8D8;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
.header h1{
  font-size: 50px;
  font-weight: 310;
  margin-top: 75px;
}
.header h1 > span{
  font-weight: italic;
}
.header h2{
  font-size: 38px;
  font-weight: 290;
  margin: 30px 0;
}
.header h2 > span{
  color: #EB615B;
}
.header a {
  background-color: blue;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  display: inline-block;
  margin:10px 0 75px 0;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
}
/*features*/
.features {
background-color: #F6F6F6;
	color: #616161;
	height: 550px;
}
.item {
	float: left;
    margin: 25px 0;
    padding: 5px 0 20px 0;
    text-align: center;
	width: 33.3333333333%;
}
.item h3 {
	font-size: 20px;
	padding: 5px 0;
}
.item p {
	font-size: 16px;
	padding: 10px 0;
}
/** FOOTER **/
.footer {
	color: #D8D8D8;
	text-align: center;
}
 h4 {
	font-size: 24px;
	margin-top: 100px;
  padding: 25px;
}
.footer p {
	color: grey;
	font-size: 16px;
	padding: 3px 0;
}
.footer p a {
	color: #793F3D;
}
#socialIcons {
	margin: 25px 0 60px 0;
}
#socialIcons a {
	color: #FFFFFF;
  padding: 10px;
}
#socialIcons .fa-twitter {
	background-color: cyan;
	border-radius: 60%;
	padding: 8px;
}
#socialIcons .fa-facebook {
	background-color: blue;
	border-radius: 50%;
	padding: 5px 8px;
}
@media (max-width: 800px){
  div{
    width: 80%;
  }
  body{
   background-color: crimson;
   font-size: 10px;
}
}